<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
    </div>
    <div class="form-group">
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ctype')}:</label>
        <div class="col-xs-12 col-sm-4">
                        
            <select  id="c-CTYPE" class="form-control selectpicker" name="row[CTYPE]">
                {foreach name="ctypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="待定"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Subctype')}:</label>
        <div class="col-xs-12 col-sm-4">
                        
            <select  id="c-SubCType" class="form-control selectpicker" name="row[SubCType]">
                {foreach name="subctypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="待定"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
    </div> 

    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type1')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-TYPE1" class="form-control selectpicker" name="row[TYPE1]">
                {foreach name="type1List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type2')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-TYPE2" class="form-control selectpicker" name="row[TYPE2]">
                {foreach name="type2List" item="vo"}
                    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Club')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CLUB" data-rule="required" class="form-control" name="row[CLUB]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('E58nmid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-E58NMID" class="form-control" name="row[E58NMID]" type="text">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Alph')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-ALPH" class="form-control" name="row[ALPH]" type="text">
        </div>
    <!-- </div>
    <div class="form-group"> -->
        <label class="control-label col-xs-12 col-sm-2">{:__('E58mbmb')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-E58MBMB" class="form-control" name="row[E58MBMB]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cphc1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CPHC1" class="form-control" name="row[CPHC1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cphc2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CPHC2" class="form-control" name="row[CPHC2]" type="text">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('A030')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-A030" class="form-control" name="row[A030]" type="text">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ceml1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CEML1" class="form-control" name="row[CEML1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ceml2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CEML2" class="form-control" name="row[CEML2]" type="text">
        </div>
    </div> -->
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CREATEON" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[CREATEON]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prukid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-PRUKID" class="form-control" name="row[PRUKID]" type="number">
        </div>
    </div> -->

    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
    </div>




    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Feedback')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-Feedback" class="form-control selectpicker" name="row[Feedback]">
                {foreach name="feedbackList" item="vo"}
                    <option value="{$key}" {in name="key" value="待评定"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Rate" class="form-control" name="row[Rate]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comments')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Comments" class="form-control" name="row[Comments]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
