<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ukid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-UKID" class="form-control" name="row[UKID]" type="number" value="{$row.UKID|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uk02')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-UK02" class="form-control" name="row[UK02]" type="number" value="{$row.UK02|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uk03')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-UK03" class="form-control" name="row[UK03]" type="number" value="{$row.UK03|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Doc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-DOC" class="form-control" name="row[DOC]" type="number" value="{$row.DOC|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dct')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-DCT" class="form-control" name="row[DCT]" type="text" value="{$row.DCT|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Co')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CO" class="form-control" name="row[CO]" type="text" value="{$row.CO|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Step')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-STEP" class="form-control" name="row[STEP]" type="text" value="{$row.STEP|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Passcondition')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-PassCondition" class="form-control" name="row[PassCondition]" type="number" value="{$row.PassCondition|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Processstatus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ProcessStatus" class="form-control" name="row[ProcessStatus]" type="text" value="{$row.ProcessStatus|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Receiveon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ReceiveOn" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ReceiveOn]" type="text" value="{$row.ReceiveOn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Starton')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-StartOn" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[StartOn]" type="text" value="{$row.StartOn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Completionon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CompletionOn" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[CompletionOn]" type="text" value="{$row.CompletionOn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Forwardon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ForwardOn" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[ForwardOn]" type="text" value="{$row.ForwardOn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-CreateOn" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[CreateOn]" type="text" value="{$row.CreateOn}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
